@using Prac.Models

@{
    ViewData["Title"] = "Ver Viajes por País";
}

<h1>Viajes Disponibles</h1>

<div class="row">
    @foreach (Viajes item in ViewBag.ListaViajes)
    {
        <div class="col-md-3">
            <div class="card bg-dark text-white w-100 mb-5">
                <img src="@item.imagen" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title" style="min-height:75px;">@item.nombre</h5>
                    <p>$@item.precio</p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalViaje" onclick="MostrarInfoDestinosAjax(@item.ID_Viaje)">
                        Descripcion
                    </button>
                    <p class="card-text">
                            <h6 class="likes">@item.Likes</h6>
                            <img id="BotonLike" class="corazon" src="/CorazonBlanco.jpg" height="25px" width="25px" onclick="Likes(@item.ID_Viaje, this)">
                    </p>
                    <p>Puntaje: @item.puntaje</p>
                </div>
            </div>
        </div>
    }
</div>


<!-- Modal -->
<div class="modal fade" id="ModalViaje" tabindex="-1" aria-labelledby="ModalViajeLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalViajeLabel">Detalle del Viaje</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Container for the description -->
                <div id="DescripcionContainer"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/site.js"></script>
}
<a class="btn btn-info" href='@Url.Action("PaginaPrincipal", "Home")'>Volver a Página Principal</a>
